<h1>
  Add a new varietal
</h1>

<hr>

<%= render("varietal_templates/validation_failures.html.erb") %>

<form action="/insert_varietal_record" method="post">
  <div>
    <label for="grape">
      Grape
    </label>

    <input type="text" id="grape" name="grape" value="<%= @varietal.grape %>">
  </div>

  <button>
    Create varietal
  </button>
</form>

<hr>

<a href="/varietals">
  Go back
</a>
