<h1>
  Varietal List
</h1>

<a href="/new_varietal_form">
  Add a New Varietal
</a>

<hr>

<table>
  <tr>
    <th>
      Grape
    </th>

    <th>
    </th>
  </tr>

  <% @varietals.each do |varietal| %>
  <tr>
    <td>
      <%= varietal.id %>
    </td>

    <td>
      <%= varietal.grape %>
    </td>

    <td>
      <%= varietal.wine_id %>
    </td>


    <td>
      <a href="/varietals/<%= varietal.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
