<h1>
  <%= current_user.email.chomp("@example.com").capitalize %>'s Clinks
</h1>

<div>
  <a href="/users">
    Go back
  </a>
</div>

<table cellpadding="10">
  <tr>
    <th>Clink</th>
    <th>Clinking Since</th>
    <th></th>
  </tr>

<% @my_clinks.each do |a_clink| %>
  
  <tr>
    
    <td>
      <% clink_id = a_clink.recipient_id %>
      <%= User.where({ :id => clink_id }).pluck(:email).first.chomp("@example.com").capitalize %>
    </td>
    
    <td>
      <%= time_ago_in_words(a_clink.created_at) %> ago
    </td>
    
    <td>
      <a href="/delete_clink/<%= a_clink.id %>">
        <i class="fas fa-user-times"></i>
      </a>
    </td>
    
  </tr>
  
<% end %>
</table>

